.dialogsContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs-items {

}

.dialog {
    text-decoration: none;
}
.dialog .active {
    color: yellow;
}

.messageContainer {

}

.message {

}